<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List Item</title>
    </head>
    <body>
        <main>
            <div>
                <h1>
                    {{todoitem.name}}
                </h1>
                <a href="{% url 'todo_list_update' todoitem.pk%}">edit</a>
                <h2>
                    Task
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in todoitem.items.all %}
                            <tr>
                                <td>
                                    {{item.task}}
                                </td>
                                <td>
                                    {{item.due_date}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>